{{ define "page-js" }}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous">
    </script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
    </script>

    <!-- AdminLTE - Bootstrap admin theme -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/js/adminlte.min.js"
      integrity="sha256-EQdVhGZHXaz1JDzRk5iIxsVRXH3yddtfMaii5tTK1uY=" crossorigin="anonymous"></script>

    <!-- jQuery for Datatables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js"
      integrity="sha256-BFIKaFl5uYR8kP6wcRxaAqJpfZfC424TBccBBVjVzuY=" crossorigin="anonymous"></script>

    <!-- Select for DataTables -->
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"
      integrity="sha384-cOjgXKpKZwqHUxQkXUhdnJfrnLtI4RMo71zMDdhSIeb6m1tWreU56MdGcqc8l+HH" crossorigin="anonymous">
    </script>

    <!-- Buttons for DataTables -->
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"
      integrity="sha384-zOjU8Lmrn7aY/0op2Zr4DRXhg0el3XJ4SEMVakZ7bni+KP5F9geHOJ0cWYSvj0HN" crossorigin="anonymous">
    </script>

    <!-- DataTables Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.min.js"
      integrity="sha256-X/58s5WblGMAw9SpDtqnV8dLRNCawsyGwNqnZD0Je/s=" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="/static/js/actions.js" language="javascript"></script>
    <script src="/static/js/commands.js" language="javascript"></script>
    <script src="/static/js/modals.js" language="javascript"></script>

{{ end }}
